.phpunit.result.cache
.env
.env.*
!.env.example
/vendor/
/node_modules/
/public/build/
/public/hot
/storage/*.key
/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/vendor.zip
